<ion-header [translucent]="true">
  <ion-toolbar *ngIf="!isSearch">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Listado de Alumnos</ion-title>
    <ion-buttons slot="primary">
      <ion-button [ngClass]="{'dark-mode-button': isDarkMode}" (click)="toggleDarkMode()">
        <ion-icon name="color-wand"></ion-icon>
      </ion-button>
      <ion-button (click)="clickSearch()">
        <ion-icon slot="end" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="isSearch">
    <ion-searchbar 
      show-cancel-button="always" 
      show-clear-button="always"
      (ionClear)="clearSearch()" 
      (ionChange)="buscarSearch($event)">
    </ion-searchbar>
  </ion-toolbar>
  <ion-row class="header-color">
    <ion-col><strong>Codigo</strong></ion-col>
    <ion-col><strong>Nombre</strong></ion-col>
    <ion-col><strong>Apellido</strong></ion-col>
    <ion-col><strong>Fecha</strong></ion-col>
    <ion-col><strong></strong></ion-col>
  </ion-row>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    

  <ion-list lines="full">
    <ion-item [routerLink]="['/alumno-edit/' + alumno.id]" *ngFor="let alumno of listaAlumnos">
      <ion-label>{{alumno.codigo}}</ion-label>
      <ion-label>{{alumno.nombre}}</ion-label>
      <ion-label>{{alumno.apellido}}</ion-label>
      <ion-label>Fecha</ion-label>
      <ion-label>
      <ion-button color="danger" (click)="eliminarAlumno(alumno.id)">Borrar
        <ion-icon slot="end" name="trash"></ion-icon>
      </ion-button>
    </ion-label>
    </ion-item>
  </ion-list>
</ion-grid>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" style="margin-right: 16px;">
    <ion-fab-button [routerLink]="['/alumno-edit/new']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>